/* src/styles/globals.css */
:root {
  --cor-fundo: #f4f4f9;
  --cor-texto-principal: #333333;
  --cor-primaria: #007bff;
  --cor-primaria-hover: #0056b3;
  --cor-erro: #dc3545;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--cor-fundo);
  color: var(--cor-texto-principal);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}